body.dark {
    background-color: #121212;
    color: #fff;
}

body.dark .navbar {
    background-color: #2e2a2a;
    color: #1b1d1b;
}

/* body.dark .navbar-brand,
body.dark .nav-link {
    color: #fff;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}



h1 {
    font-size: 80px;
}

/* .btn-container {
    display: flex;
  
    justify-content: center;
} */

@media screen and (max-width: 600px) {
    .btn-container {
        flex-direction: column;
    }
}

#COURSESEARCH, #BOOKSEARCH {
    display: none;
}

.search-container {
    display: flex;
    justify-content: center;
}

#darkswitchtext{
    color: black;
}



#result{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#resultt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    border-radius: 15px 50px;
}


#columnImage {
    max-width: 100%; /* This will make the image responsive on all devices */
    height: auto; /* This will maintain the aspect ratio of the image */
    border-radius: 15px 50px;
}


/*  */
.autocomplete-container {
    position: relative;
}

.suggestion-box {
    position: absolute;
    z-index: 1;
    background-color: white;
    color: rgb(194, 44, 44);
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; /* This ensures that the border is included in the element's total width and height */
    /* color: black; Default text color for light mode */
}

.suggestion-box div {
    /* padding: 1px; */
    cursor: pointer;
}

.suggestion-box div:hover {
    background-color: #ccc;
}
/*  */


/* ////////////////////// */ 
.popup {
    position: fixed;
    /* bottom: 0;
    left: 0; */
    bottom: 30px;
    right: 20px;
    width: 20%;
    background-color: #f81d0d;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px 20px;
    opacity: 0.9;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it sits on top of the page */
}

.popupp {
    position: fixed;
    /* bottom: 0;
    left: 0; */
    top: 40px;
    right: 20px;
    width: 20%;
    background-color: #e70909;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px 20px;
    opacity: 0.9;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it sits on top of the page */
}
/* .popup p{
margin: auto;
} */

/* On devices with a width of 768px or more, the image will be displayed at a maximum width of 600px */
@media (min-width: 768px) {
    #columnImage {
        max-width: 100%; /*  changed it to a percent from 800px*/

    }
    
    
}

@media (max-width: 768px) { /* Adjust this value as needed */
    h1 {
        font-size: 30px;
    }
    #result {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #resultt{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popup{
        width: 90%;
    }
    .popupp{
        width: 90%;
    }
}



/* 
