body.dark {
    background-color: #121212;
    color: #fff;
}

body.dark .navbar {
    background-color: #333;
    color: #fff;
}

/* body.dark .navbar-brand,
body.dark .nav-link {
    color: #fff;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

h1{
    font-size: 100px;
}
#darkswitchtext{
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#columnImage {
    max-width: 100%; /* This will make the image responsive on all devices */
    height: auto; /* This will maintain the aspect ratio of the image */
}

/* On devices with a width of 768px or more, the image will be displayed at a maximum width of 600px */
@media (min-width: 768px) {
    #columnImage {
        max-width: 800px;
    }
}

